NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=findy-ai.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=findy-ai
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=findy-ai.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=528376885501
NEXT_PUBLIC_FIREBASE_APP_ID=
MEDLIB_ORIGIN=http://127.0.0.1:3000
NEXT_PUBLIC_MAPBOX_TOKEN=
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=
NEXT_PUBLIC_DOCTOR_ORIGIN=http://localhost:3014
